.report-style-class {
	height: 560px;
	width: 960px;
}

body {
	padding: 24px;
	font-family: 'Segoe UI';
}

h3 {
	color: #175C97;
}

button {
	background: #337AB7;
	border-radius: 5px;
	margin-right: 15px;
	color: #FFFFFF;
	height: 35px;
	width: 150px;
	font-size: medium;
	border: 0;
}